<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
  <!-- About-->
    <section class="page-section" id="about">
      <div class="container">
        <div class="text-center">
          <h2 class="section-heading text-uppercase">CHÚNG TÔI</h2>
          <h3 class="section-subheading text-muted">Lấy cảm hứng từ sự tương tác giữa phụ huynh với trẻ nhỏ.</h3>
        </div>
        <ul class="timeline">
          <li>
            <div class="timeline-image"><img class="rounded-circle img-fluid" src="https://scontent.fpnh22-1.fna.fbcdn.net/v/t1.6435-9/117044391_1607462239424617_4806169174895984275_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=TLte18vCx2YAX-GalGL&_nc_ht=scontent.fpnh22-1.fna&oh=5ef6d5a2e43486b179843da63a9e7d20&oe=60F8459D" alt="" /></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="subheading">Đây là cháu trai của tôi</h4>
                <h4>Lê Anh Sang</h4>
              </div>
              <div class="timeline-body"><p class="text-muted">Mội đứa trẻ ngây thơ trong sáng như 1 trang giấy trắng chưa biết gì về thế giới bên ngoài. Vậy lên khi bố mẹ đi làm chúng luôn cố trở lên tăng động để nhận được sự quan tâm của cha mẹ mình</p></div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image"><img class="rounded-circle img-fluid" src="https://f21-zpg.zdn.vn/8440437618997719994/b38e7a3d6a519a0fc340.jpg" alt="" /></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="subheading">Còn đây là cháu gái của tôi</h4>
                <h4>Lê Bảo Anh</h4>
              </div>
              <div class="timeline-body"><p class="text-muted">khác với người  anh trai của mình cháu gái tôi là người chơi hệ nàng thơ rất chăm ngoan và không tăng động như người anh nhưng cũng giống như bao đứa trẻ khác bé cũng muốn được quan tâm nhiều nhất có thể.</p></div>
            </div>
          </li>
          <li>
            <div class="timeline-image"><img class="rounded-circle img-fluid" src="https://scontent-hkg4-2.xx.fbcdn.net/v/t1.6435-9/126902976_1716324271871746_6263273793184639269_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=174925&_nc_ohc=ZDpas8iIVVIAX_Ivchw&_nc_ht=scontent-hkg4-2.xx&oh=352fbdb66e793b368ab00a79daf5b0b9&oe=60F7ED19" alt="" /></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Đàm Thị Mai Tâm</h4>
                <h4 class="subheading">(CLB Hang Truyện)</h4>
              </div>
              <div class="timeline-body"><p class="text-muted">Là giáo viên dạy tiểu học được tiếp xúc cọ sát với rất nhiều học sinh tiểu học, được chứng rất nhiều người phụ huynh muốn tương tác với trẻ mà không biết cách nên chị muốn từ những cuốn truyện giúp cho tình cảm giữa phụ huynh và trẻ nhỏ đi lên qua những cuốn truyện</p></div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image"><img class="rounded-circle img-fluid" src="https://scontent-hkg4-1.xx.fbcdn.net/v/t1.6435-9/67142652_1087365361652259_6286249438780325888_n.jpg?_nc_cat=107&ccb=1-3&_nc_sid=174925&_nc_ohc=6NcOLg8GmzoAX-cQjsJ&_nc_ht=scontent-hkg4-1.xx&oh=b1cd2b1023d22a2b5a095b59b895a104&oe=60F85485" alt="" /></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Đàm Thị Mai Thành</h4>
                <h4 class="subheading">(CLB Hang Truyện)</h4>
              </div>
              <div class="timeline-body"><p class="text-muted">Là giáo viên dạy tiểu học được tiếp xúc với rất nhiều các em học sinh tiêu học nên chị muốn đưa những câu truyện có nội dung, ý nghĩa cao để truyền đạt tới tay những em học sinh tiêu học ngây thơ như trang giấy trắng chưa được tiếp xúc với bên ngoài</p></div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>
                Vì vậy lên
                <br />
                website này
                <br />
                ra đời
              </h4>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <!-- Team-->
    <section class="page-section bg-light" id="team">
      <div class="container">
        <div class="text-center">
          <h2 class="section-heading text-uppercase">Team Chúng Tôi</h2>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="https://scontent-hkg4-2.xx.fbcdn.net/v/t1.6435-9/126902976_1716324271871746_6263273793184639269_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=174925&_nc_ohc=ZDpas8iIVVIAX_Ivchw&_nc_ht=scontent-hkg4-2.xx&oh=352fbdb66e793b368ab00a79daf5b0b9&oe=60F7ED19" alt="" />
              <h4>Đàm Thị Mai Tâm</h4>
              <p class="text-muted">Dẫn Truyện</p>
              <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fa fa-twitter"></i></a>
              <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fa fa-facebook"></i></a>
              <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fa fa-youtube-play"></i></a>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="https://scontent-hkg4-1.xx.fbcdn.net/v/t1.6435-9/67142652_1087365361652259_6286249438780325888_n.jpg?_nc_cat=107&ccb=1-3&_nc_sid=174925&_nc_ohc=6NcOLg8GmzoAX-cQjsJ&_nc_ht=scontent-hkg4-1.xx&oh=b1cd2b1023d22a2b5a095b59b895a104&oe=60F85485" alt="" />
              <h4>Đàm Thị Mai Thành</h4>
              <p class="text-muted">Nội Dung Truyện</p>
              <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fa fa-twitter"></i></a>
              <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fa fa-facebook"></i></a>
              <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fa fa-youtube-play"></i></a>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="https://scontent-hkg4-2.xx.fbcdn.net/v/t1.6435-9/184195593_1122414171578769_410629092735722898_n.jpg?_nc_cat=111&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=iv7QHpmD10AAX-KuszQ&tn=3nPUlG7uIEoc1_6K&_nc_ht=scontent-hkg4-2.xx&oh=99918d83f75d464906ce6c6e4e158f76&oe=60F850AD" alt="" />
              <h4>Đàm Đức Đạt</h4>
              <p class="text-muted">Lead Developer</p>
              <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fa fa-twitter"></i></a>
              <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fa fa-facebook"></i></a>
              <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fa fa-youtube-play"></i></a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p></div>
        </div>
      </div>
    </section>
  </body>
</html>
