<div class="col-lg-3 col-md-4 col-sm-12">
  <div class="card product_item">
    <div class="body">
      <div class="cp_img">
        <div class="img-main">
          <%= image_tag tale.image if tale.image.attached? %>
        </div> 
      </div>
      <div class="product_details">
        <h5><%= link_to tale.title, preview_tale_path(tale.id)%></h5>
        <ul class="product_price list-unstyled">
          <% if current_user.admin? %>
            <%= link_to "delete", tale, method: :delete, data: { confirm: "You sure?" } %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
