<% provide(:title, "Edit tales") %>
<% provide(:button_text, 'Save changes') %>
<h1 class="login">Update tale</h1>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <%= render 'form' %>
    </div>
</div>
