<% provide(:title, 'Tất cả cuốn truyện') %>
<h1 class="login">Tất cả cuốn truyện</h1>
<section class="page-section bg-light" id="portfolio">
  <div class="container">
    <div class="row">
        <%= render @tales %>
    </div>
  </div>
</section>
