<% provide(:title, 'All users') %>
<div class="btn">
  <span>
    <div>
      <%= form_tag users_path, method: :get, class: "form-inline my-2 my-lg-0" do %>
        <%= text_field_tag :term, params[:term], class: "form-control mr-sm-0", placeholder: "Tìm kiếm người dùng ..."  %>
        <%= submit_tag "Tìm kiếm", class: "search_text" %>
      <% end %>
    </div>
  </span>
</div>
<table>
  <tr>
    <th>Tên người dùng</th>
    <th>thao tác</th>
  </tr>
  <%= render @users%>
</table>
