<tr>
  <td><%= link_to request.user.name, update_status_request_path(request), method: :put %></td>
  <td><%= link_to request.title, update_status_request_path(request), method: :put %></td>
  <td><%= link_to request.created_at, update_status_request_path(request), method: :put %></td>
</tr>
