<%= form_for [@tale, @reviewtale], remote: true do |f| %>
  <div id="rating-form">
    <label>Đánh giá sao:</label>
  </div>
  <div class="row">
    <div class="image_user_comment">
      <%= gravatar_for current_user %>
    </div>
    <div class="view_comment">
      <%= f.text_field :comment, class: 'form-control comment' %>
    </div>
  </div>
  <% name_action = action_name == "edit" ? "Sửa đánh giá" : "Tạo đánh giá" %>
  <%= f.submit name_action, class: "btn btn-primary" %>
<% end %>

<script>
  $("#rating-form").raty({
    path: '/images/ratyrate',
    scoreName: "reviewtale[rating]"
  });
</script>
