<%= form_for [@tale, @reviewtale], remote: true do |f| %>
  <div id="rating-form">
    <label>Đánh giá sao:</label>
  </div>
  <div class="row position_relative">
    <div class="image_user_comment">
      <%= image_tag(@current_user.image, alt: "ảnh đại diện", class: 'image_comment') if @current_user.image.attached? %>
    </div>
    <div class="input_comment">
      <%= f.text_field :comment, class: 'form-control comment', placeholder: "Nhận xét của bản..." %>
    </div>
    <%= button_tag( class: "button_review") do %>
      <i class="fa fa-paper-plane" aria-hidden="true"></i>
    <% end %>
  </div>
<% end %>

<script>
  $("#rating-form").raty({
    path: '/images/ratyrate',
    scoreName: "reviewtale[rating]"
  });
</script>
