@charset "UTF-8";

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  margin: 0;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

b,
strong {
  font-weight: bolder;
}

a {
  font-size: 18px;
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #000;
  text-decoration: none;
}


label {
  display: inline-block;
  margin-bottom: 0.5rem;
}


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  border-bottom: 2px solid #ced4da;
}

.container,
.container-fluid,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1160px;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
.form-control:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #495057;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #ffeeb5;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 54, 0.25);
}
.form-control::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-group {
  margin-bottom: 1rem;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1.7rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn:hover {
  color: #212529;
  text-decoration: none;
}

.btn-primary {
  color: #fff;
  background-color: #fed136;
  border-color: #fed136;
  margin-top: 20px;
}
.btn-primary:hover {
  color: #fff;
  background-color: #fec810;
  border-color: #fec503;
}

.btn btn-primary h5 a{
  color: black
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
.btn-success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}


.btn-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}
.btn-dark:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}

.dropdown-toggle {
  white-space: nowrap;
}
.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.dropdown-item {
  color: #e6b301;
  font-size: 17px;
  display: block;
  width: 100%;
  padding: 1rem 1.5rem;
  clear: both;
  font-weight: 400;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.dropdown-item:hover, .dropdown-item:focus {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}
.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #fed136;
}
.dropdown-item.disabled, .dropdown-item:disabled {
  color: #6c757d;
  pointer-events: none;
  background-color: transparent;
}

.dropdown-item-text {
  display: block;
  padding: 0.25rem 1.5rem;
  color: #212529;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color:#fed136;
}

.nav-link:hover, .nav-link:focus {
  text-decoration: none;
}
.nav-link.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: default;
}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar-nav {
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    background-color: #343a40;
    position: absolute;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1.5rem;
  }
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    margin: auto;
  }
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}
.navbar-dark .navbar-nav .nav-link {
  color: #fed136;
  font-size: 17px;
}

.bg-dark {
  background-color: #343a40 !important;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

//about
.page-section {
  padding: 10rem 0;
}
.page-section h2.section-heading {
  font-size: 4rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
.page-section h3.section-subheading {
  font-weight: 400;
  font-style: italic;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-bottom: 4rem;
}
.btn-social {
  height: 2.5rem;
  width: 2.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 100%;
}
.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}
.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: "";
  background-color: #e9ecef;
}
.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}
.timeline > li:after, .timeline > li:before {
  display: table;
  content: " ";
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}
.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline > li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #fed136;
}
.timeline > li .timeline-image h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}
.timeline .timeline-heading h4.subheading {
  text-transform: none;
}
.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    min-height: 100px;
    margin-bottom: 100px;
  }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}
@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}
.team-member {
  margin-bottom: 3rem;
  text-align: center;
}
.team-member img {
  width: 14rem;
  height: 14rem;
  border: 0.5rem solid rgba(0, 0, 0, 0.1);
}
.team-member h4 {
  margin-top: 1.5rem;
  margin-bottom: 0;
}


.user-new-tale {
  margin: auto;
  float: none;
}

.footer {
  background: white;
  padding: 15px;
  text-align: center;
  font-size: 1.7rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
}
input {
  height: auto !important;
  }

  #error_explanation {
      color: red;
  
      ul {
          color: red;
          margin: 0 0 30px 0;
      }
  }
  
  .field_with_errors {
      .form-control {
          color: red;
      }
  }
  .checkbox{
    margin-top:-10px;
    margin-bottom:10px;
    span{
        margin-left:20px;
        font-weight:normal;
    }
}
#session_remember_me {
    width: auto;
    margin-left: 0;
}   
@mixin box_sizing {
    -moz-box-sizing:
    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:border-box;
}
.navbar{
  margin-bottom: 0 !important;
}
.login{
  margin-top: 0px;
  text-align:center;
  padding-top: 30px;
  padding-bottom: 20px;
}
.nav-item{
  text-align: center !important;
}


.all_show{
  text-align: center;
}

.show{
  float: left;
  padding:50px;
  background: bisque;
  margin: 105px;
  font-size: 20px;
}
.user_info{
  padding-top: 40px;
  margin: auto;
}
.cp_img img{
  height: 100%;
  width:100%;
}

.form_all{
  margin: auto;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper-admin {
  display: flex;
  align-items: stretch;
  min-height: calc(100vh - 150px);
  width: 100%;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #343a40;
  color: #fff;
  transition: all 0.3s;
}

#sidebar a,
#sidebar a:hover,
#sidebar a:focus {
  color: inherit;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #343a40;
  background: #fff;
}

a[data-toggle="collapse"] {
  position: relative;
}

a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
  content: '\e259';
  display: block;
  position: absolute;
  right: 20px;
  font-family: 'Glyphicons Halflings';
  font-size: 0.6em;
}

a[aria-expanded="true"]::before {
  content: '\e260';
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: rgb(29, 27, 27);
}

a.download {
  background: #fff;
  color: #343a40;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
  display: block;
  width: 100%;
  background: beige;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}

//USER INTERFACE
.wrapper{
  min-height: calc(102vh - 150px);
  width: 100%;
  background-image: url(https://indainam.com/wp-content/uploads/2017/10/mau-background-don-gian-03-768x614.jpg);
}
.list-title{
  border-radius: .55rem;
  margin: 10px;
  background: white;
  padding: 10px;
  font-size: 20px;
  color: black;
  width: 25%;
  border: 2px solid #343A6E;
  font-family: auto;

}
body{
  background-color: #f4f7f6;
}

.product_item:hover .cp_img {
  top: -10px
}

.product_item:hover .cp_img img {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22)
}

.product_item:hover .cp_img .hover {
  display: block
}

.product_item .cp_img {
  position: absolute;
  top: 0px;
  left: 50%;
  height: 80%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -o-transform: translate(-50%);
  -khtml-transform: translate(-50%);
  width: 100%;
  padding: 10px 5px 0px 5px;
  transition: all 0.2s ease-in-out
}

.product_item .cp_img img {
  transition: all 0.2s ease-in-out;
  border-radius: 6px
}

.product_item .cp_img .hover {
  display: none;
  text-align: center;
  margin-top: 10px
}

.product_item .product_details {
  padding-top: 100%;
  text-align: center
}

.product_item .product_details h5 {
  margin-bottom: 5px
}

.product_item .product_details h5 a {

  font-family: optima;
  font-size: 18px;
  color: #444
}

.product_item .product_details h5 a:hover {
  text-decoration: none
}

.product_item .product_details .product_price {
  margin: 0
}

.product_item .product_details .product_price li {
  display: inline-block;
  padding: 0 10px
}

.product_item .product_details .product_price .new_price {
  font-weight: 600;
  color: #ff4136
}

.product_item_list table tr td {
  vertical-align: middle
}

.product_item_list table tr td h5 {
  font-size: 15px;
  margin: 0
}

.product_item_list table tr td .btn {
  box-shadow: none !important
}

.product-order-list table tr th:last-child {
  width: 145px
}

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column
}

.preview .preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1
}

.preview .preview-thumbnail.nav-tabs {
  margin-top: 15px;
  font-size: 0
}

.preview .preview-thumbnail.nav-tabs li {
  width: 20%;
  display: inline-block
}

.preview .preview-thumbnail.nav-tabs li nav-link img {
  max-width: 100%;
  display: block
}

.preview .preview-thumbnail.nav-tabs li a {
  padding: 0;
  margin: 2px;
  border-radius: 0 !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important
}

.preview .preview-thumbnail.nav-tabs li:last-of-type {
  margin-right: 0
}

.preview .tab-content {
  overflow: hidden
}

.preview .tab-content img {
  width: 100%;
  -webkit-animation-name: opacity;
  animation-name: opacity;
  -webkit-animation-duration: .3s;
  animation-duration: .3s
}

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column
}

.details .rating .stars {
  display: inline-block
}

.details .sizes .size {
  margin-right: 10px
}

.details .sizes .size:first-of-type {
  margin-left: 40px
}

.details .colors .color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px
}

.details .colors .color:first-of-type {
  margin-left: 20px
}

.details .colors .not-available {
  text-align: center;
  line-height: 2em
}

.details .colors .not-available:before {
  font-family: Material-Design-Iconic-Font;
  content: "\f136";
  color: #fff
}

@media screen and (max-width: 996px) {
  .preview {
      margin-bottom: 20px
  }
}

@-webkit-keyframes opacity {
  0% {
      opacity: 0;
      -webkit-transform: scale(3);
      transform: scale(3)
  }
  100% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1)
  }
}

@keyframes opacity {
  0% {
      opacity: 0;
      -webkit-transform: scale(3);
      transform: scale(3)
  }
  100% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1)
  }
}

.cart-page .cart-table tr th:last-child {
  width: 145px
}

.cart-table .quantity-grp {
  width: 120px
}

.cart-table .quantity-grp .input-group {
  margin-bottom: 0
}

.cart-table .quantity-grp .input-group-addon {
  padding: 0 !important;
  text-align: center;
  background-color: #1ab1e3
}

.cart-table .quantity-grp .input-group-addon a {
  display: block;
  padding: 8px 10px 10px;
  color: #fff
}

.cart-table .quantity-grp .input-group-addon a i {
  vertical-align: middle
}

.cart-table .quantity-grp .form-control {
  background-color: #fff
}

.cart-table .quantity-grp .form-control+.input-group-addon {
  background-color: #1ab1e3
}

.ec-checkout .wizard .content .form-group .btn-group.bootstrap-select.form-control {
  padding: 0
}

.ec-checkout .wizard .content .form-group .btn-group.bootstrap-select.form-control .btn-round.btn-simple {
  padding-top: 12px;
  padding-bottom: 12px
}

.ec-checkout .wizard .content ul.card-type {
  font-size: 0
}

.ec-checkout .wizard .content ul.card-type li {
  display: inline-block;
  margin-right: 10px
}

.card {
  transition: .5s;
  border: 0;
  height: 100%;
  position: relative;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
}

.card .body {
  border-radius: .55rem;
  background: white;
  font-size: 14px;
  color: #424242;
  padding: 0px 15px 5px 15px;
  font-weight: 400;
}
// review
body{
  background:#eee;
  }
  
  /*panel*/
  .panel {
      border: none;
      box-shadow: none;
  }
  
  .panel-heading {
      border-color:#eff2f7 ;
      font-size: 16px;
      font-weight: 300;
  }
  
  .panel-title {
      color: #2A3542;
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 0;
      margin-top: 0;
      font-family: 'Open Sans', sans-serif;
  }
  
  /*product list*/
  
  .prod-cat li a{
      border-bottom: 1px dashed #d9d9d9;
  }
  
  .prod-cat li a {
      color: #3b3b3b;
  }
  
  .prod-cat li ul {
      margin-left: 30px;
  }
  
  .prod-cat li ul li a{
      border-bottom:none;
  }
  .prod-cat li ul li a:hover,.prod-cat li ul li a:focus, .prod-cat li ul li.active a , .prod-cat li a:hover,.prod-cat li a:focus, .prod-cat li a.active{
      background: none;
      color: #ff7261;
  }
  
  .pro-lab{
      margin-right: 20px;
      font-weight: normal;
  }
  
  .pro-sort {
      padding-right: 20px;
      float: left;
  }
  
  .pro-page-list {
      margin: 5px 0 0 0;
  }
  
  .product-list img{
      width: 100%;
      border-radius: 4px 4px 0 0;
      -webkit-border-radius: 4px 4px 0 0;
  }
  
  .product-list .pro-img-box {
      position: relative;
  }
  .adtocart {
      background: #fc5959;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      color: #fff;
      display: inline-block;
      text-align: center;
      border: 3px solid #fff;
      left: 45%;
      bottom: -25px;
      position: absolute;
  }
  
  .adtocart i{
      color: #fff;
      font-size: 25px;
      line-height: 42px;
  }
  
  .pro-title {
      color: #5A5A5A;
      display: inline-block;
      margin-top: 20px;
      font-size: 16px;
  }
  
  .product-list .price {
      color:#fc5959 ;
      font-size: 15px;
  }
  
  .pro-img-details {
      margin-left: -15px;
  }
  
  .pro-img-details img {
      width: 100%;
  }
  
  .pro-d-title {
      font-size: 16px;
      margin-top: 0;
  }
  
  .product_meta {
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
      padding: 10px 0;
      margin: 15px 0;
  }
  
  .product_meta span {
      display: block;
      margin-bottom: 10px;
  }
  .product_meta a, .pro-price{
      color:#fc5959 ;
  }
  
  .pro-price, .amount-old {
      font-size: 18px;
      padding: 0 10px;
  }
  
  .amount-old {
      text-decoration: line-through;
  }
  .pro-d-head {
      font-size: 18px;
      font-weight: 300;
  }
.margin-top{
  margin-top: 50px;
}

//TALE CONTENT
.tale-content{  
  background: white;
  border-radius: 10px;
}
.text-content{
  width:100%;
  padding: 25px 25px 5px 30px;
  font-size: 24px;
  color: #000;
  font-family: optima;
}
.audio-content{
  text-align: center;
}

.audio-content audio{
  height: 35px;
  padding-left: 30px;
}
.img-picture img{
  height: auto;
  width:100%;
  padding:0px 0 25px 0;
  border-bottom:#d8dbdf solid 30px;
  border-top:#d8dbdf solid 2px;
  margin-top: 25px;
}

.stats {
  margin-bottom: 10px;
}
//revew tale
.review{
  margin-top: 20px;
  padding: 50px;
  background: white;
  border-radius: 10px;
}

//thap cam
.interactive{
  display: flex;
}
label{
  font-size: 16Fpx;
  padding-top: 15px;
}
#follow_form{
  width: 49%;
  margin-right: 5px;
}
#favourite_form{
  width: 49%;
}

.form-inline{
  display: flex;
  font-size: 18px;
  padding-left: 15px;
  padding-top: 3px
}
.form-children-select{
  margin-top: 25px;
}
.links{
  padding-top: 20px;
}

//tales_product
.end{
  text-align: center;
  font-size: 18px;
  background: #343a40;
  color: white;
  padding: 8px;
  margin-top: 10px;
}
.vidu{
  width: 100%;
  height: 430px;
}
.vidu img{
  height: 100%;
  width: 100%;
}

.product_meta .posted_in a{
  color: #000;
  font-size: 15px;
}
.show-all{
  float:right;
}
.newest{
  border-radius: 10px;
  font-size: 1.75rem;
  margin-bottom: 15px;
  background: white;
  padding: 10px;
  margin-top: 0px;
  float: right;
}

.form-product{
  padding-left: 8px !important;
  padding-right: 7px !important;
  margin-bottom: 20px;
}
//text-overflow
.text-overflow {
  padding-right: 20px;
  text-align: center;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
  padding-left: 20px;
}

//carousel

// carousel product home not login
.card-2 {
  background: #fff;
  transition: .5s;
  border: 0;
  border-radius: .55rem;
  position: relative;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
}

.card-2 .body {
  font-size: 14px;
  color: #424242;
  padding: 0px 15px 15px 15px;
  font-weight: 400;
}
.product_item .product_details-2 {
  padding-top: 100%;
  text-align: center
}

.product_item .product_details-2 h5 {
  margin-bottom: 5px
}

.product_item .product_details-2 h5 a {

  font-family: optima;
  font-size: 18px;
  color: #444
}

.product_item .product_details-2 h5 a:hover {
  text-decoration: none
}

.product_item .product_details-2 .product_price {
  margin: 0
}

.product_item .product_details-2 .product_price li {
  display: inline-block;
  padding: 0 10px
}

.product_item .product_details-2 .product_price .new_price {
  font-weight: 600;
  color: #ff4136
}

.carousel-form{
  padding-right: 25px;
  padding-left: 25px;
}
// carousel product home login
.carousel-product{
  border-radius: 10px;
  padding-top: 10px;
  background: #fddd6a;
  margin-bottom: 20px;
}
.crs{
  width: 86%;
  margin: auto;
}
.img-carousel img{
  height: 210px;
  width:210px;
}

.owl-theme .owl-nav button {
  background:#fff none repeat scroll 0 0 !important;
  border-radius: 30px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.2);
  color: #000;
  display: inline-block;
  font-size: 21px;
  height: 40px;
  line-height: 40px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  width: 40px;
}
.owl-controls .owl-page, .owl-controls .owl-buttons div {
  cursor: pointer;
}
.owl-theme .owl-nav .owl-prev {
  margin: 0 0 0 -15px
}
.owl-theme .owl-nav .owl-next {
  margin: 0 -15px 0 0;
}
.owl-prev {
  left: 0;
  position: absolute;
  top: 42%;
  transition: all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}
.owl-next {
  position: absolute;
  right: 0;
  top: 42%;
  transition: all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}
.owl-theme .owl-nav button i {
  color: #000 !important;
  font-size: 20px;
  line-height: 40px !important;
}

.fade-carousel {
  position: relative;
  height: 110%;
}
.fade-carousel .carousel-inner .item {
  height: 595px;
}
.fade-carousel .carousel-indicators > li {
  margin: 0 2px;
  background-color: #f39c12;
  border-color: #f39c12;
  opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
width: 10px;
height: 10px;
opacity: 1;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{
  border-radius: 50%;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
  position: absolute;
  top: 75%;
  left: 33%;
  z-index: 3;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0px 0px 0 rgba(0,0,0,.75);
    -webkit-transform: translate3d(-50%,-50%,0);
       -moz-transform: translate3d(-50%,-50%,0);
        -ms-transform: translate3d(-50%,-50%,0);
         -o-transform: translate3d(-50%,-50%,0);
            transform: translate3d(-50%,-50%,0);
}
.hero h1 {
  font-size: 3em;    
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
  opacity: 0;
  -webkit-transition: 2s all ease-in-out .1s;
     -moz-transition: 2s all ease-in-out .1s; 
      -ms-transition: 2s all ease-in-out .1s; 
       -o-transition: 2s all ease-in-out .1s; 
          transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
  opacity: 1;
  -webkit-transition: 2s all ease-in-out .1s;
     -moz-transition: 2s all ease-in-out .1s; 
      -ms-transition: 2s all ease-in-out .1s; 
       -o-transition: 2s all ease-in-out .1s; 
          transition: 2s all ease-in-out .1s;    
}
/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
  color: #f5f5f5;
  background-color: #1abc9c;
  border-color: #1abc9c;
  outline: none;
  margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
height: 100vh;
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
background-image: url(https://img.lovepik.com/photo/40012/8015.jpg_wh860.jpg); 
}
.fade-carousel .slides .slide-2 {
background-image: url(https://png.pngtree.com/illustrations/20190321/ourlarge/pngtree-starry-sky-night-sky-fantasy-starry-sky-people-png-image_33467.jpg);
}
.fade-carousel .slides .slide-3 {
background-image: url(https://png.pngtree.com/illustration/20190226/ourlarge/pngtree-hand-painted-illustration-fantasy-starry-sky-girl-image_2739.jpg);
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
  .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
  .hero h1 { font-size: 4em; }    
}

/* carousel */
#quote-carousel 
{
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left 
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right 
{
  right: -12px !important;
}

/* End carousel */

.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}



/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }
    
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */

    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}

//time rating form
/* Style the tab */
.tab {
  overflow: hidden;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  margin: 5px;
  border-radius: 35px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  font-weight:bold;
  font-family: optima;
  background-color: #ffea9d;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}
.tabcontenttale {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

.ratings_home{
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 50px;
}

.rating-item{
  background: white;
  margin-bottom: 5px;
  display: flex;
}
.rating-item-img{
  width: 30%;
  height: 30%;
}
.rating-item-title{
  padding-left: 10px;
  width: 70%;
}
.rating-item-title h5 a {
  font-family: optima;
  font-size: 17px;
  color: #444;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

//contact
.contact{
  background:white;
  padding:50px 50px 100px 50px ;
  border: 1px solid #DDDDDD;
  border-radius: 15px;
}
.content_request{
  float: left;
  height: 200px !important;
}


//show all request
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.alert{
  margin-bottom: 0px !important;
}
.title_request{
  font-size: 18px;
  font-family:optima;
  padding: 5px 30px 5px 30px;
}
.time{
  float:right;
  padding: 5px 30px 5px 30px;
}
