  <%= link_to category.name, category,class: "dropdown-item" %>
  <% if current_user.admin? %>
      <button id="sendMessageButton" type="submit"><%= link_to "xóa", edit_category_path(category.id) %></button>
      <button id="sendMessageButton" type="submit"><%= link_to "sửa", category, method: :delete,  data: { confirm: "bạn chắc chứ?" } %></button>
  <% end %>
