<tr>
  <td><%= link_to category.name, category,class: "dropdown-item" %></td>
  <td>
    <% if current_user.admin? %>
      <button id="sendMessageButton" type="submit"><%= link_to "sửa", edit_category_path(category.id) %></button>
      <button id="sendMessageButton" type="submit"><%= link_to "xóa", category, method: :delete,  data: { confirm: "bạn chắc chứ?" } %></button>
    <% end %>
  </td>
</tr>
