<% provide(:title, 'create category') %>
<h1 class="text-center">Create category</h1>
<div class="col-md-4 col-md-offset-4">
  <%= form_for(@category) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>

    <%= f.submit "create category", class: "btn btn-primary" %>
  <% end %>
</div>
