<div class="container">
  <div class="margin-top">
    <% @category.tales.each do |tale|%>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="card product_item">
          <div class="body">
              <div class="cp_img">
                <div class="img-main">
                  <%= image_tag tale.image if tale.image.attached? %>
                </div> 
              </div>
              <div class="product_details">
                <h5><%= link_to tale.title, preview_tale_path(tale.id) %></h5>
              </div>
          </div>
        </div>
      </div>
    <%end%>
  </div>
</div>
