<% if current_user.admin? %>
  <div class="row">
    <div class="col-md-4">
      <section class="user_info">
        <h1>
          <%= @category.name%>
        </h1>
        <button id="sendMessageButton" type="submit"><%= link_to "edit", edit_category_path(@category) %></button>
        <button id="sendMessageButton" type="submit"><%= link_to "delete",category_path(@category), method: :delete %></button>
      </section>
    </div>
  </div>
<% end %>